body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem;
}

.sensor-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    align-items: baseline;
}

.sensor-card {
    text-align: center;
    width: 20rem;
    height: 20rem;
    margin: 10px;
}

.circle {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: relative;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle-border {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: conic-gradient(#4dd0e1 0%, #e0e0e0 0%);
    transition: background 0.5s ease;
}

.inside-circle {
    position: relative;
    font-size: 35px;
    font-weight: 1000;
    border-radius: 50%;
    background-color: white;
    width: 15rem;
    height: 15rem;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-25%,70%);
}

.thermometer {
    position: relative;
    height: 400px;
    width: 100px;
    
    transform: translate(-50%,-40%);
}

.temp-tile{
    transform: translate(50%, -270px);
}

.borders{
    position: relative;
    width: 40px;
    height: 250px;
    border: 5px solid #3a3939;
    border-bottom: none;
    border-radius: 40px 40px 0 0;
    transform: translate(50%,59%);
    bottom: 5px;
    z-index: 1;
    background: #f0f0f0;
    
}

.sensor-bar {
    height: 0; 
    width: 30px;
    background-color: red;
    border-radius: 25px 25px 0 0;
    position: absolute;
    transform-origin: bottom;
    bottom: 0px; 
    left: 50%;
    transform: translate(-50%,20%);
    transition: height 1s ease; 
}


.circle-term {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    transform: translate(-4%,90%);
    border: 5px solid #3a3939;
    
}
.borders::before{
    content: " ";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: red;
    z-index: 2;
    bottom: -30px;
    right: 5px;


}
.circle-term::after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sensor-value {
    font-size: 35px;
    font-weight: 1000;
    color: #333;
    margin-top: 10px;
    transform: translate(250%,0);
}

h3{
    font-size:2em;
    font-style: bold;
    color: #333;
}